body{
    background-color: #000000;
    color: #ffffff
}

#loading{
    display: none;
}
#cek-lagi{
    display: none;
}
h1{
    text-align: center;
}

button{
    margin-top: 20px;
}

button:hover{
    cursor: pointer;
}

.khodam{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.khodam p{
    margin: 10px;
}


#rare{
    color: red;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
}


.box {
    width: 350px;
    margin: 100px auto;
    border: 1px solid white;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    display: flex;
    position: relative;
}

button{
    background-color: red;
    color: white;
    padding: 10px;
}